body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  width: 80%;
  gap: 40px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.rectangle {
  height: 100px;
  width: 100px;
  background-color: palevioletred;
}

.rect-button {
  width: 70px;
  height: 25px;

}